<!DOCTYPE html>
<html>

<head>
    <title>Following</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        .profile-picture {
            max-width: 100px;
            max-height: 100px;

        }
    </style>
</head>

<body class="follow-body">
    <%- include('includes/navbar') %>
        <ul>
            <% following.forEach(following=> { %>
                <li class="following-item">
                    <a href="/profile/<%= following.username %>">
                        <img src="/user-data/<%= following.username %>/profilePicture.png" alt="Profile Picture"
                            class="profile-picture">
                    </a>
                    <a href="/profile/<%= following.username %>" class="following-info">
                        <%= following.username %>
                    </a>
                    <span class="following-info">Followers: <%= following.followers.length %></span>
                    <span class="following-info">Following: <%= following.following.length %></span>
                </li>
                <% }); %>
        </ul>
</body>

</html>